@import url('https://fonts.googleapis.com/css?family=Exo|KoHo');
@import url('https://fonts.googleapis.com/css?family=Gudea|Economica');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');

#gifs {
	display: grid;
	grid-template-columns: repeat( 3, 1fr);
}

img {
	width: 100%;
    position: relative;

    
}

#container {
    background-color: black;
    color: white;
    text-align: center;
    font-size: px;
    border-radius: 15px;
    font-family: 'Exo', 'Gudea', 'Roboto', sans-serif;
}

h1{
    color:greenyellow;
    font-size:36px;

}

h2{
    color:palegreen;
    font-size: 16px;
}

#random{
    background-color: aqua;
}

#remove{
    background-color: darkred;
    color:white;
}

button{
    margin-bottom: 10px;
    margin-top: 10px;

    border-radius: 15px;
}